- @page_title  = "Welcome"
- @body_class  = nil
- @layout      = 'simple'

%h2 Welcome to New York Squared Real Estate Group.
%p 
  Our site is currently under construction and will be live soon.<br />
  In the meantime, contact Constantine Hrisikos for more information:
%ul
  %li
    %a{:href => 'mailto:constantine@ny2reg.com', :rel => 'external'}
      constantine@ny2reg.com
  %li P (212) 671 0177
  %li C (718) 578 2380
